global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]
        labels:
          app: "prometheus"

  - job_name: "config"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["config1:8888"]
        labels:
          app: "config"

  - job_name: "discovery"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["discovery1:8761", "discovery2:8762"]
        labels:
          app: "discovery"

  - job_name: "gateway"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["gateway:8080"]
        labels:
          app: "gateway"

  - job_name: "order"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["order:8181"]
        labels:
          app: "order"

  - job_name: "product"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["product:8282"]
        labels:
          app: "product"

  - job_name: "payment"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["payment:8383"]
        labels:
          app: "payment"

  - job_name: "shipping"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["shipping:8484"]
        labels:
          app: "shipping"
